* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
  color: white;
  font-weight: bold;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

/* 추가 사항 */

.header{
  height: 80%;
  background-color: #0a58ca;
}

.logo {
  font-family: 'Abril Fatface', cursive;
  font-weight: bold;
  font-size: larger;
  text-align: center;
  vertical-align : middle;
  background-color: pink;
  cursor: pointer;
  width: 70%;
  height: 100%;
  margin: auto;
  margin-top: 100px;
}

.container{
  background: #0c4128;
}

.clearfix{
  margin-top : 7rem;
}

progress[value]::-webkit-progress-bar {
  background-color: whitesmoke;
  box-shadow: 0 2px 5px rgba(0,0,0,0.25) inset;
}

#progress_bar[value] {
  appearance: none;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}

#progress_bar[value]::-webkit-progress-value {
  background-image: linear-gradient(to left, #2ecc71, #3498db);
}
::-webkit-meter-inner-element
::-webkit-meter-even-less-good-value
/* ↑ 하위 최적값 */
::-webkit-meter-optimum-value
/* ↑ 최적값 */
::-webkit-meter-suboptimum-value


#details[open]{
  background-color: #cdedfd;
  background-image: linear-gradient(
  319deg,
  #cdedfd 0%,
  #ffec82 37%,
  #ffcfd2 100%
  );
}